<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHuman" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHuman" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHuman" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/helloUniverse/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHuman"
                contract="HelloUniverseServiceReference.IHuman" name="BasicHttpBinding_IHuman" />
            <endpoint address="net.tcp://localhost:8081/hellouniverse" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHuman" contract="HelloUniverseServiceReference.IHuman"
                name="NetTcpBinding_IHuman">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/helloUniverse/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHuman" contract="HelloUniverseServiceReference.IHuman"
                name="WSHttpBinding_IHuman">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>